body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

.header {
  width: 100%;
  height: 155px;
}
.header .header_wrapper .header-mobile {
  display: none;
}
.header .header_wrapper .header-pc {
  display: block;
  height: 155px;
  width: 100%;
  background-color: #fceff3;
}
.header .header_wrapper .header-pc .pc_header_top {
  padding: 0 37px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
}
.header .header_wrapper .header-pc .pc_header_top .header_top_left .search-store {
  font-size: 12px;
  cursor: pointer;
  color: #223628;
  top: 20px;
}
.header .header_wrapper .header-pc .pc_header_top .header_top_logo {
  width: 130px;
}
.header .header_wrapper .header-pc .pc_header_top .header_top_logo img {
  width: 100%;
  height: 100%;
}
.header .header_wrapper .header-pc .pc_header_top .header_top_right {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header_wrapper .header-pc .pc_header_top .header_top_right a {
  color: #000;
  text-decoration: none;
}
.header .header_wrapper .header-pc .pc_header_top .header_top_right .icon-personal {
  font-size: 20px;
  cursor: pointer;
}
.header .header_wrapper .header-pc .pc_header_top .header_top_right .icon-gouwu {
  font-size: 30px;
  cursor: pointer;
}
.header .header_wrapper .header-pc .pc_header_bottom {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.header .header_wrapper .header-pc .pc_header_bottom .menu .menu_wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.header .header_wrapper .header-pc .pc_header_bottom .menu .menu_wrapper .menu_wrapper_link {
  position: relative;
  line-height: 42px;
  padding-right: 40px;
}
.header .header_wrapper .header-pc .pc_header_bottom .menu .menu_wrapper .menu_wrapper_link a {
  text-decoration: none;
  font-size: 14px;
  color: #395037;
}
.header .header_wrapper .header-pc .pc_header_bottom .menu .menu_wrapper .menu_wrapper_link .active {
  border-bottom-style: solid;
  border-bottom-color: #f8baca;
  border-bottom-width: 3px;
}
.header .header_wrapper .header-pc .pc_header_bottom .menu .menu_wrapper .menu_wrapper_link .menu-sublevel {
  background: #f8baca;
  text-align: center;
  padding: 35px 0;
  position: absolute;
  z-index: 90;
  left: 0;
  width: 100%;
  height: 350px;
  top: 100px;
}
.header .header_wrapper .header-pc .pc_header_bottom .menu .menu_wrapper .menu_wrapper_link .menu-sublevel .menu-sublevel__subCategories {
  width: 350px;
  display: inline-block;
  position: relative;
}
.header .header_wrapper .header-pc .pc_header_bottom .menu .menu_wrapper .menu_wrapper_link .menu-sublevel .menu-sublevel__subCategories .menu-sublevel-link {
  width: 120px;
  line-height: 15px;
  padding-top: 5px;
  margin-bottom: 13px;
  text-align: left;
  font-size: 11px;
}
.header .header_wrapper .header-pc .pc_header_bottom .menu .menu_wrapper .menu_wrapper_link .menu-sublevel .menu-sublevel__subCategories .menu-sublevel-pic {
  position: absolute;
  top: 0;
  left: 60%;
  width: 180px;
}
.header .header_wrapper .header-pc .pc_header_bottom .menu .menu_wrapper .menu_wrapper_link .menu-sublevel .menu-sublevel__subCategories .menu-sublevel-pic .menu-sublevel-pic-wrap {
  text-align: center;
  margin-right: 30px;
}
.header .header_wrapper .header-pc .pc_header_bottom .menu .menu_wrapper .menu_wrapper_link .menu-sublevel .menu-sublevel__subCategories .menu-sublevel-pic .menu-sublevel-pic-wrap img {
  width: 180px;
  height: 250px;
}
.header .header_wrapper .header-pc .pc_header_bottom .search {
  width: 50px;
  cursor: pointer;
  position: absolute;
  right: 37px;
  bottom: 18px;
}
.header .header_wrapper .header-pc .pc_header_bottom .search .search_btn {
  width: 60px;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header_wrapper .header-pc .pc_header_bottom .search .search_btn .icon-sousuo {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}
.header .header_wrapper .header-pc .searchBox {
  width: 100%;
  height: 300px;
  position: absolute;
  display: none;
  z-index: 10000;
}
.header .header_wrapper .header-pc .searchBox .inner-box {
  border: 1px solid #223628;
  background: #fceff3;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header .header_wrapper .header-pc .searchBox .inner-box .select {
  height: 100%;
  width: 95%;
  border: 0;
  outline: 0;
  vertical-align: middle;
  background-color: #fceff3;
  font-size: 14px;
  text-align: left;
  padding-left: 45px;
  padding-right: 65px;
}
.header .header_wrapper .header-pc .searchBox .inner-box .searchBtn {
  width: 5%;
  height: 42px;
  background: #223628;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.header .header_wrapper .header-pc .searchBox .inner-box .searchBtn .icon-sousuo {
  color: white;
}
.header .header_wrapper .header-pc .searchBox .search-form-content {
  position: absolute;
  overflow: auto;
  left: 0;
  width: 100%;
  background: #f8baca;
}
.header .header_wrapper .header-pc .searchBox .search-form-content .component-search-recommand {
  padding: 32px 48px 34px;
}
.header .header_wrapper .header-pc .searchBox .search-form-content .component-search-recommand .component-search-recommand__title {
  font-size: 18px;
  margin-bottom: 20px;
}
.header .header_wrapper .header-pc .searchBox .search-form-content .component-search-recommand .component-search-recommand__content {
  font-size: 12px;
}
.header .header_wrapper .header-pc .searchBox .search-form-content .component-search-recommand .component-search-recommand__content .component-search-recommand__content-item {
  margin-top: 10px;
  cursor: pointer;
}

.product_box {
  width: 1200px;
  margin: 0 auto;
}
.product_box .product_title {
  width: 1060px;
  padding-top: 52px;
  padding-bottom: 10px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.product_box .product_title .sort {
  border: 0;
  outline: 0;
}
.product_box .product_title .sort option {
  text-align: center;
}
.product_box .product {
  width: 1010px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  flex-wrap: wrap;
}
.product_box .product .result {
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
}
.product_box .product .result p {
  font-size: 20px;
  font-weight: bold;
}
.product_box .product .product_list {
  width: 234px;
  margin-top: 10px;
  margin-bottom: 43px;
  margin-right: 18px;
}
.product_box .product .product_list .list_img {
  width: 234px;
  height: 307px;
}
.product_box .product .product_list .list_img img {
  width: 100%;
  height: 100%;
}
.product_box .product .product_list .list_title {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  cursor: pointer;
}
.product_box .product .product_list .list_price {
  text-align: center;
}
.product_box .more {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background: #23362a;
  text-align: center;
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}

#layout_up {
  position: fixed;
  cursor: pointer;
  bottom: 102px;
  right: 0;
  display: none;
}

#floatIcon {
  position: fixed;
  top: auto;
  bottom: 45px;
  right: 0;
  width: 56px;
  height: 56px;
}

.component-navigation-footer {
  background: #fceff3;
}
.component-navigation-footer .footer_wrapper {
  width: 1182px;
  padding-top: 80px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.component-navigation-footer .footer_wrapper .content {
  width: 131px;
}
.component-navigation-footer .footer_wrapper .content .link-li {
  padding-bottom: 22px;
  font-size: 11px;
  cursor: pointer;
}
.component-navigation-footer .footer_wrapper .content .link-li a {
  color: #223628;
  text-decoration: none;
}
.component-navigation-footer .footer_wrapper .content .link-li:first-child {
  font-size: 14px;
}
.component-navigation-footer .footer_wrapper .content img {
  width: 70px;
  height: 70px;
}
.component-navigation-footer .footer_wrapper .content .link-sublevel-care {
  margin-top: 18px;
  line-height: 16px;
}
.component-navigation-footer .footer_copyright {
  font-size: 12px;
  padding: 70px 0 30px;
  text-align: center;
}
.component-navigation-footer .footer_copyright .footer-record {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.component-navigation-footer .footer_copyright .footer-record .record {
  margin-right: 5px;
}
.component-navigation-footer .footer_copyright .footer-record a {
  color: #223628;
  text-decoration: none;
  display: inline-block;
}
.component-navigation-footer .footer_copyright .footer-record a img {
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.component-navigation-footer .footer_copyright .footer-record a .lugong {
  width: 25px;
  height: 25px;
}
.component-navigation-footer .footer_bc-img {
  width: 100%;
  background: url(https://img.katespade.cn/_nuxt/img/233376b.png) repeat-x;
  background-size: contain;
  height: 200px;
}