    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    //滚动条
     ::-webkit-scrollbar {
        width: 4px;
        height: 2px;
    }
    
     ::-webkit-scrollbar-thumb {
        background: #000;
    }
    
    // header
    .header {
        width: 100%;
        height: 155px;
        .header_wrapper {
            //mobile
            .header-mobile {
                display: none;
            }
            //pc
            .header-pc {
                display: block;
                height: 155px;
                width: 100%;
                background-color: rgb(252, 239, 243);
                .pc_header_top {
                    // background-color: skyblue;
                    padding: 0 37px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 95px;
                    .header_top_left {
                        .search-store {
                            font-size: 12px;
                            cursor: pointer;
                            color: #223628;
                            top: 20px;
                        }
                    }
                    .header_top_logo {
                        width: 130px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .header_top_right {
                        height: 100%;
                        width: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        a {
                            color: #000;
                            text-decoration: none;
                        }
                        .icon-personal {
                            font-size: 20px;
                            cursor: pointer;
                        }
                        .icon-gouwu {
                            font-size: 30px;
                            cursor: pointer;
                        }
                    }
                }
                .pc_header_bottom {
                    height: 60px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;
                    // background-color: gray;
                    .menu {
                        // width: 700px;
                        .menu_wrapper {
                            display: flex;
                            align-items: center;
                            align-content: center;
                            justify-content: space-between;
                            .menu_wrapper_link {
                                position: relative;
                                // background-color: red;
                                line-height: 42px;
                                padding-right: 40px;
                                a {
                                    text-decoration: none;
                                    font-size: 14px;
                                    color: #395037;
                                    // background-color: blue;
                                }
                                .active {
                                    border-bottom-style: solid;
                                    border-bottom-color: rgb(248, 186, 202);
                                    border-bottom-width: 3px;
                                }
                                // 二级菜单
                                .menu-sublevel {
                                    background: #f8baca;
                                    // background-color: blue;
                                    text-align: center;
                                    padding: 35px 0;
                                    position: absolute;
                                    z-index: 90;
                                    left: 0;
                                    width: 100%;
                                    height: 350px;
                                    top: 100px;
                                    .menu-sublevel__subCategories {
                                        width: 350px;
                                        display: inline-block;
                                        position: relative;
                                        .menu-sublevel-link {
                                            width: 120px;
                                            line-height: 15px;
                                            padding-top: 5px;
                                            margin-bottom: 13px;
                                            text-align: left;
                                            font-size: 11px;
                                        }
                                        .menu-sublevel-pic {
                                            position: absolute;
                                            top: 0;
                                            left: 60%;
                                            width: 180px;
                                            .menu-sublevel-pic-wrap {
                                                text-align: center;
                                                margin-right: 30px;
                                                img {
                                                    width: 180px;
                                                    height: 250px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .search {
                        width: 50px;
                        cursor: pointer;
                        position: absolute;
                        right: 37px;
                        bottom: 18px;
                        .search_btn {
                            width: 60px;
                            font-size: 12px;
                            line-height: 18px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .icon-sousuo {
                                width: 18px;
                                height: 18px;
                                margin-left: 8px;
                            }
                        }
                    }
                }
                .searchBox {
                    width: 100%;
                    height: 300px;
                    position: absolute;
                    display: none;
                    .inner-box {
                        border: 1px solid #223628;
                        background: #fceff3;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        .select {
                            height: 100%;
                            width: 95%;
                            border: 0;
                            outline: 0;
                            vertical-align: middle;
                            background-color: #fceff3;
                            font-size: 14px;
                            text-align: left;
                            padding-left: 45px;
                            padding-right: 65px;
                        }
                        .searchBtn {
                            // box-sizing: border-box;
                            width: 5%;
                            height: 42px;
                            background: #223628;
                            cursor: pointer;
                            border: 0;
                            outline: 0;
                            .icon-sousuo {
                                color: white;
                            }
                        }
                    }
                    .search-form-content {
                        position: absolute;
                        overflow: auto;
                        left: 0;
                        width: 100%;
                        background: #f8baca;
                        .component-search-recommand {
                            padding: 32px 48px 34px;
                            .component-search-recommand__title {
                                font-size: 18px;
                                margin-bottom: 20px;
                            }
                            .component-search-recommand__content {
                                font-size: 12px;
                                .component-search-recommand__content-item {
                                    margin-top: 10px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    // banner
    #banner {
        width: 100%;
        height: 675px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    
    //视频
    .component-homepage-video {
        position: relative;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        video {
            width: 1010px;
            height: 588px;
            margin-top: 35px;
            object-fit: cover;
            overflow: hidden;
        }
        //所有控件
        video::-webkit-media-controls-enclosure {
            display: none;
        }
        .component-homepage-video__icon-play {
            position: absolute;
            width: 12.5vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .video-poster {
            height: 588px;
        }
    }
    /*商品展示*/
    
    //hot-tpl
    .hot-tpl {
        line-height: 1;
        text-align: center;
        margin: 0 auto;
        width: 1010px;
        .title {
            font-size: 24px;
            margin-top: 50px;
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: space-evenly;
            margin-top: 36px;
            .list {
                width: 230px;
                margin-bottom: 0;
                img {
                    display: block;
                    width: 100%;
                    height: 306px;
                }
                .list-introduce {
                    margin-bottom: 0;
                    height: 36px;
                    overflow: hidden;
                    display: block;
                    color: #223628;
                    font-size: 14px;
                    margin-top: 12px;
                    line-height: 18px;
                }
                .list-price {
                    margin-bottom: 0;
                    margin-top: 16px;
                    font-size: 12px;
                }
                .list-link {
                    margin-bottom: 0;
                    margin-top: 13px;
                    font-size: 12px;
                    display: inline-block;
                    border-bottom: 1px solid #223628;
                    color: #223628;
                }
            }
        }
    }
    
    //ad-wrapper
    .ad-wrapper {
        line-height: 1;
        text-align: center;
        margin: 0 auto;
        width: 1100px;
        .ad {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 1010px;
            margin: 95px auto 0;
            a {
                color: #223628;
            }
            .ad_image {
                img {
                    width: 490px;
                    height: 570px;
                }
            }
            .ad_link {
                flex: auto;
                text-align: center;
                margin-left: 75px;
                font-size: 80px;
                display: block;
                .link-content {
                    text-decoration: none;
                    display: block;
                    width: 200px;
                    line-height: 1.2;
                    margin: 0 auto;
                }
                .link-content-text {
                    text-decoration: underline;
                    margin-top: 45px;
                    display: block;
                    font-size: 14px;
                }
            }
        }
    }
    
    //more更多新品
    .more-tpl {
        width: 1300px;
        line-height: 1;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 48px;
        .tpl__title {
            font-size: 28px;
            margin-top: 54px;
        }
        .swiper-container {
            width: 1300px;
            height: 560px;
            text-align: center;
            --swiper-pagination-color: #223628;
            .swiper-wrapper {
                width: 1100px;
                padding: 0 60px;
                height: 100%;
                z-index: 1;
                box-sizing: content-box;
                .swiper-slide {
                    width: 317px;
                    align-items: flex-start;
                    margin-top: 30px;
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    flex-shrink: 0;
                    display: flex;
                    a {
                        display: block;
                        color: #000;
                        font-size: 14px;
                        text-decoration: underline;
                        img {
                            display: block;
                            width: 317px;
                            height: 435px;
                            margin-bottom: 25px;
                            p {
                                width: 317px;
                            }
                        }
                    }
                }
            }
            .swiper-button-prev:after,
            .swiper-button-next:after {
                content: '';
                font-family: none;
            }
            .swiper-button-prev {
                position: absolute;
                left: 10px;
                background: url(../../static/img/taoxin.png) no-repeat;
            }
            .swiper-button-next {
                right: -4px;
                position: absolute;
                background: url(../../static/img/taoxin_r.png) no-repeat;
            }
        }
    }
    
    //products
    .products {
        background: url(https://img.katespade.cn/media/cms/201111/dise-pc1.jpg) repeat 50% 50%;
        color: #223628;
        margin-top: 48px;
        padding: 40px 90px;
        height: 460px;
        width: 1200px;
        margin: 0 auto;
        background-size: cover;
        .title {
            margin-bottom: 10px;
            font-size: 28px;
            text-align: center;
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-between;
            text-align: center;
            .list {
                margin-top: 24px;
                width: 230px;
                a {
                    color: #223628;
                }
                .list-link {
                    display: block;
                    margin-bottom: 5px;
                    img {
                        width: 100%;
                        height: 307px;
                    }
                }
            }
        }
    }
    
    // 返回顶部
    #layout_up {
        position: fixed;
        cursor: pointer;
        bottom: 102px;
        right: 0;
        display: none;
    }
    
    #floatIcon {
        position: fixed;
        top: auto;
        bottom: 45px;
        right: 0;
        width: 56px;
        height: 56px;
    }
    
    //底部 footer
    .component-navigation-footer {
        background: #fceff3;
        .footer_wrapper {
            width: 1182px;
            padding-top: 80px;
            display: flex;
            margin: 0 auto;
            justify-content: space-around;
            .content {
                width: 131px;
                .link-li {
                    padding-bottom: 22px;
                    font-size: 11px;
                    cursor: pointer;
                    a {
                        color: #223628;
                        text-decoration: none;
                    }
                }
                .link-li:first-child {
                    font-size: 14px;
                }
                img {
                    width: 70px;
                    height: 70px;
                }
                .link-sublevel-care {
                    margin-top: 18px;
                    line-height: 16px;
                }
            }
        }
        .footer_copyright {
            font-size: 12px;
            padding: 70px 0 30px;
            text-align: center;
            .footer-record {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 5px;
                .record {
                    margin-right: 5px;
                }
                a {
                    color: #223628;
                    text-decoration: none;
                    display: inline-block;
                    img {
                        vertical-align: bottom;
                        width: 20px;
                        height: 20px;
                        margin-right: 2px;
                    }
                    .lugong {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
        .footer_bc-img {
            width: 100%;
            background: url(https://img.katespade.cn/_nuxt/img/233376b.png) repeat-x;
            background-size: contain;
            height: 200px;
        }
    }